NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_PUBLIC_PUBLISHABLE_KEY
AWS_ACCESS_KEY_ID=YOUR_PRIVATE_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_PRIVATE_AWS_SECRET_ACCESS_KEY
AWS_REGION=us-west-2
SUPABASE_SERVICE_ROLE_KEY=YOUR_PRIVATE_SUPABASE_SERVICE_ROLE_KEY
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=YOUR_PAYPAL_PLATFORM_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PRIVATE_PAYPAL_PLATFORM_SECRET
PAYPAL_PARTNER_MERCHANT_ID=YOUR_SANDBOX_PARTNER_MERCHANT_ID
PAYPAL_BN_CODE=YOUR_PAYPAL_PARTNER_ATTRIBUTION_ID
